---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import favIconSvg from '~/assets/favicons/favicon.svg';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'RAO-PICS — 帮助你远程访问 Eagle 的素材库',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: '立即下载',
        href: 'https://github.com/meetqy/rao-pics/releases',
        target: '_blank',
        icon: 'tabler:download',
      },
      { text: 'Github 源码', href: 'https://github.com/meetqy/rao-pics', target: '_blank' },
    ]}
  >
    <Fragment slot="image">
      <video autoplay loop controls src={'/hero.mp4'} class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"></video>
    </Fragment>
    <Fragment slot="title">
      帮助你<span class="text-accent dark:text-white highlight">远程访问</span> Eagle App 的素材资源
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    title="特色功能概览"
    subtitle="RAO-PICS 拥有简单且便捷的特色功能，让您能以最简单的方式远程访问素材"
    items={[
      {
        title: '30 多种配色方案',
        description: '提供 30 多种不同的配色方案供您自由选择，并且还可以自定义主题，让您总能找到适合您的款式。',
        icon: 'tabler:color-swatch',
      },
      {
        title: '快速同步',
        description: '支持增量更新和实时同步，让您的更加快速的访问到素材，无需等待。',
        icon: 'tabler:brand-speedtest',
      },
      {
        title: '安全可靠',
        description:
          'RaoPics不会修改您的任何文件，它通过生成索引的方式读取素材，即使发生误操作，也不会对您的元数据造成任何损害。',
        icon: 'tabler:brand-sentry',
      },
      {
        title: '简单易用',
        description: '操作非常简单，您只需要进行几次点击，就能在其他设备上轻松查看素材。',
        icon: 'tabler:asterisk-simple',
      },
      {
        title: '多平台支持',
        description: 'RaoPics同时支持手机、平板和PC等多种平台，让您可以在不同设备上随时访问素材。',
        icon: 'tabler:device-desktop',
      },
      {
        title: '无依赖性',
        description:
          '您无需依赖于其他管理软件，即可访问您的素材。甚至可以将RaoPics部署在Windows/MacOS服务器上，实现更多的操作方式。',
        icon: 'tabler:album',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    id="introduces"
    isReversed
    title="用最简单的方式，远程访问素材"
    tagline="唯一目标"
    items={[
      {
        title: '操作简单',
        description: '针对普通用户设计，点击按钮，快速访问素材。',
      },
      {
        title: '无依赖',
        description: '直接安装使用，没有任何依赖。',
      },
    ]}
    image={{
      src: '/preview.png',
      alt: 'preview image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-primary">2 步，</span> 快速访问素材
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: '配色丰富',
        description: `30+ 配色，随意切换，还会不定期新增配色，总会有你喜欢的不是吗 ？`,
      },
      {
        title: '不只是 App',
        description: `这些配色还能应用到网页展示上。`,
      },
      {
        title: '基于 DasiyUI',
        description: `拥有更多可能，未来甚至可以自己编辑配色。`,
      },
    ]}
    image={{
      src: '/colors.png',
      alt: '30+ 配色，随意切换',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        <span class="text-primary">30种，</span> 配色方案
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: '自动同步',
        description: '整理完素材，打开网页就能看到最新的。',
      },
      {
        title: '手动同步',
        description: '整理完素材，可自由选择是否需要同步，点击同步按钮开始同步。',
      },
    ]}
    image={{
      src: '/sync.png',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        2 种，<span class="text-primary">同步</span>方式
      </h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="如何开始远程访问素材呢 ？"
    id="uses"
    items={[
      {
        title: '第一步：<span class="font-medium">下载安装 App</span>',
        description: '选择对应系统的安装包，Windows、MacOS Inter、MacOS ARM。',
        icon: 'tabler:package',
      },
      {
        title: '第二步：<span class="font-medium">选择资源库</em>',
        description: '选择对应的资源库，点击同步按钮，开始同步。',
        icon: 'tabler:letter-case',
      },
      {
        title: '远程访问',
        description: '点击链接或手机扫码，就能看到素材资源啦。',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '/visit-retro.png',
      alt: 'Steps image',
    }}
  />

  <!-- Content Widget Gallery Default Theme **************** -->

  <Content
    id="gallery"
    isReversed
    title="Gallery 画廊"
    tagline="官方默认主题"
    items={[
      { title: '树形结构菜单' },
      { title: '高度还原 Eagle 文件夹结构' },
      { title: '自适应 OR 瀑布流' },
      { title: '可选择添加时间排序' },
      { title: '支持和应用配色同步切换' },
    ]}
  >
    <Fragment slot="image">
      <Image
        class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
        width={1366}
        height={768}
        widths={[683, 1366]}
        sizes="(max-width: 1366px) 100vw, 1366px"
        layout="cover"
        src="/gallery/menu.png"
        alt="gallery menu"
      />
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      { title: '手机扫码，快速访问' },
      { title: '多种展示方式' },
      { title: '大图预览模式，可下载原图' },
      { title: '大数据优化，无缝滚动，快速浏览' },
    ]}
  >
    <Fragment slot="image">
      <Image
        class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
        width={1366}
        height={768}
        widths={[683, 1366]}
        sizes="(max-width: 1366px) 100vw, 1366px"
        layout="cover"
        src="/gallery/phone.png"
        alt="gallery phone device"
      />
    </Fragment>

    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">移动端效果图</h3>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="常见问题"
    subtitle="一些常见的问题，希望能解答你的疑惑。"
    tagline="FAQs"
    id="faqs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: '为什么只支持 Eagle？',
        description:
          '目前RaoPics仍处于测试版本，作者对Eagle相对更熟悉，因此选择了优先支持Eagle。一旦核心功能完成，作者将跟进其他软件，以扩大支持的范围。这意味着将来可能会支持更多的设计软件，以满足更广泛的用户需求。',
      },
      {
        title: '会支持选择修改吗 ？',
        description:
          'RaoPics的定位非常清晰，专注于远程访问功能。因此，在当前的设计和开发中，并没有计划支持选择修改的功能。所有的功能都将围绕着远程访问展开，并为用户提供更便捷的使用体验。',
      },
      {
        title: '为什么不把重心放在 Docker 版本上 ？',
        description:
          '我们的目标是以最简单的方式实现远程访问素材的目标。考虑到技术基础的要求和广大普通用户的接受程度，我们认为 Docker 不是最简单的方式。因此，我们将重点放在开发适用于普通用户的应用程序上。如果您对 Docker 版本有特殊喜好，您可以自行尝试开发，或者等待社区的贡献，或者考虑使用类似的服务如PicHome。',
      },
      {
        title: '未来会收费吗 ？',
        description:
          '目前对Eagle应用的支持是免费的，并将持续维护下去。然而，对其他软件的支持可能会有收费版本。这是为了确保软件的可持续发展，因为仅依靠无偿提供服务的方式，很难维持软件的正常运营并确保持续改进。',
      },
      {
        title: '会对我的素材造成影响吗 ？',
        description:
          '不会对您的素材造成任何影响。我们的软件不会对素材进行任何修改，也不会篡改其内容。它只会读取所需的数据以实现远程访问功能。您可以放心使用我们的软件来进行远程访问，而不必担心素材的安全性和完整性。',
      },
      {
        title: '能定制开发吗 ？',
        description:
          '我们可以提供定制开发服务，但请注意，这可能会涉及较高的费用。即使是看似简单的需求，定制开发的成本可能超出预期。这是因为定制开发需要考虑到各种因素，包括需求分析、设计、编码、测试和部署等环节的工作量。',
      },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: '立即下载',
        href: 'https://github.com/meetqy/rao-pics/releases',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      <div class="flex justify-center">
        <img src={favIconSvg.src} alt="logo" class="w-20 h-20" />
      </div>
    </Fragment>

    <Fragment slot="subtitle">立即下载并开始享受快速远程访问素材的便利吧！</Fragment>
  </CallToAction>
</Layout>
