---
import favIconSvg from '~/assets/favicons/favicon.svg';
---

<div class="flex items-center w-14 h-14 justify-center rounded-full p-1">
  <img alt="rao.pics logo" src={favIconSvg.src} class="w-12 h-12" />
</div>
