---
import favIconSvg from '~/assets/favicons/favicon.svg';
---

<>
  <img alt="rao.pics logo" src={favIconSvg.src} class="md:w-10 md:h-10 w-8 h-8" />
  <span
    class="font-bold dark:text-white text-2xl md:text-3xl ml-2 rtl:ml-0 rtl:mr-2 self-center text-gray-900 whitespace-nowrap"
    >RAO
  </span>
</>
