---
import favIconSvg from '~/assets/favicons/favicon.svg';
---

<>
  <div class="bg-[#f5f5f5] dark:bg-slate-900 rounded-full p-1 shadow-lg">
    <img alt="rao.pics logo" src={favIconSvg.src} class="w-8 h-8" />
  </div>
  <span class="dark:text-white text-gray-900 text-2xl ml-2 font-bold">RAO.PICS</span>
</>
